button {
    width: 100%;
    padding: 13px;
    margin-top: 5px;
    background-color: #7C3AED;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}


    /* Botón al pasar el mouse */
    button:hover {
        background-color: #2563EB;
        box-shadow: 0 0 15px rgba(37, 99, 235, 0.4);
    }
